* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  padding: 1.5rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to bottom right,
    rgba(111,111,199, 0.7),
    rgba(49,48,170, 0.7)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  position: relative;
}

.header-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: white;
  text-transform: uppercase;
}

.heading-title {
  display: block;
  font-weight: 700;
  letter-spacing: .5rem;
  font-size: 2.5rem;
}

.heading-subtitle {
  display: block;
  font-weight: 400;
  letter-spacing: .3rem;
  font-size: 1.75rem;
}