*
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.row {
  font-size: 2rem;
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row [class^="col-"] {
    float: left;
    color: #fff;
    background-color: cornflowerblue; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-6 {
    width: calc((100% - 3rem)/2); }
